@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --green: #27ae60;
  --orange: #f39c12;
  --red: #e74c3c;
  --black: #333;
  --light-color: #666;
  --white: #fff;
  --light-bg: #f6f6f6;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  border: 0;
}

*::selection {
  background: var(--green);
  color: var(--white);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--green);
}

body {
  background: var(--light-bg);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.btn,
.delete-btn,
.option-btn {
  display: block;
  width: 100%;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  color: var(--white);
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
  background: var(--black);
}

.btn {
  background: var(--green);
}

.option-btn {
  background: var(--orange);
}

.delete-btn {
  background: var(--red);
}

.flex-btn {
  display: flex;
  gap: 1rem;
}

.message {
  position: sticky;
  top: 0;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--light-bg);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  z-index: 1000;
}

.message span {
  font-size: 2rem;
  color: var(--black);
}

.message i {
  font-size: 2.5rem;
  color: var(--red);
  cursor: pointer;
}

.message i:hover {
  color: var(--black);
}

.title {
  font-size: 3.5rem;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;
}

.empty {
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--red);
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  text-transform: capitalize;
}

/* form-container */

.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container form {
  padding: 2rem;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
  width: 50rem;
}

.form-container form h3 {
  font-size: 3rem;
  color: var(--black);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.form-container form .box {
  width: 100%;
  padding: 1.4rem;
  margin: 1rem 0;
  font-size: 1.8rem;
  color: var(--black);
  background: var(--light-bg);
  border: var(--border);
  border-radius: 0.5rem;
}

.form-container form p {
  font-size: 2.2rem;
  color: var(--light-color);
  margin-top: 2rem;
}

.form-container form p a {
  color: var(--green);
}

.form-container form p a:hover {
  text-decoration: underline;
}

.disabled {
  opacity: 0.5;
  user-select: none;
  pointer-events: none;
}

/* header */

.header {
  background: var(--white);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .flex .logo span {
  color: var(--green);
}

.header .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: var(--black);
}

.header .flex .navbar a:hover {
  text-decoration: underline;
  color: var(--green);
}

.header .flex .icons > * {
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1.5rem;
  cursor: pointer;
}

.header .flex .icons > *:hover {
  color: var(--green);
}

.header .flex .icons a span,
.header .flex .icons a i {
  color: var(--black);
}

.header .flex .icons a:hover span,
.header .flex .icons a:hover i {
  color: var(--green);
}

.header .flex .icons a span {
  font-size: 2rem;
}

.header .flex .profile {
  width: 33rem;
  position: absolute;
  top: 120%;
  right: 2rem;
  padding: 2rem;
  border: var(--border);
  border-radius: 0.5rem;
  background: var(--white);
  text-align: center;
  display: none;
  animation: fadeIn 0.2s linear;
}

.header .flex .profile.active {
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
  }
}

.header .flex .profile img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.header .flex .profile p {
  font-size: 2rem;
  color: var(--light-color);
  padding: 0.5rem 0;
}

#menu-btn {
  display: none;
}

/* update-profile */

.update-profile form {
  padding: 2rem;
  max-width: 70rem;
  margin: 0 auto;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.update-profile form .flex {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.update-profile form img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.update-profile form .inputBox {
  text-align: left;
  flex: 1 1 30rem;
}

.update-profile form .inputBox span {
  display: block;
  padding-top: 1rem;
  font-size: 1.8rem;
  color: var(--light-color);
}

.update-profile form .inputBox .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: var(--black);
  border: var(--border);
  border-radius: 0.5rem;
  background: var(--light-bg);
  margin: 1rem 0;
}

/* home-bg */

.home-bg {
  background: url("../images/home-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.home-bg .home {
  display: flex;
  align-items: center;
  min-height: 60vh;
}

.home-bg .home .content {
  width: 50rem;
}

.home-bg .home .content span {
  font-size: 2.5rem;
  color: var(--orange);
}

.home-bg .home .content h3 {
  font-size: 3rem;
  color: var(--black);
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.home-bg .home .content p {
  font-size: 1.6rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

.home-bg .home .content a {
  display: inline-block;
  width: auto;
}

/* home-category */

.home-category .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.home-category .box-container .box {
  padding: 2rem;
  text-align: center;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.home-category .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.home-category .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
  text-transform: uppercase;
}

.home-category .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 0.5rem 0;
  line-height: 2;
}

/* products */

.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.products .box-container .box {
  padding: 2rem;
  text-align: center;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
}

.products .box-container .box .price {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  background: var(--red);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: var(--white);
}

.products .box-container .box .price span {
  font-size: 2.5rem;
  color: var(--white);
  margin: 0 0.2rem;
}

.products .box-container .box .fa-eye {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  border: var(--border);
  color: var(--black);
}

.products .box-container .box .fa-eye:hover {
  color: var(--white);
  background: var(--black);
}

.products .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.products .box-container .box .name {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
}

.products .box-container .box .qty {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  border-radius: 0.5rem;
}

/* quick-view */

.quick-view .box {
  max-width: 50rem;
  padding: 2rem;
  text-align: center;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
  margin: 0 auto;
}

.quick-view .box img {
  height: 20rem;
  margin-bottom: 1rem;
}

.quick-view .box .price {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  background: var(--red);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: var(--white);
}

.quick-view .box .price span {
  font-size: 2.5rem;
  color: var(--white);
  margin: 0 0.2rem;
}

.quick-view .box .name {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
}

.quick-view .box .qty {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  border-radius: 0.5rem;
}

.quick-view .box .details {
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

/* p-category */

.p-category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.p-category a {
  padding: 1.5rem;
  text-align: center;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
}

.p-category a:hover {
  background: var(--black);
  color: var(--white);
}

/* about */

.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: center;
}

.about .row .box {
  flex: 1 1 40rem;
  text-align: center;
}

.about .row .box img {
  height: 40rem;
  object-fit: contain;
  margin-bottom: 2rem;
}

.about .row .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
  text-transform: uppercase;
}

.about .row .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

.about .row .box .btn {
  width: auto;
  display: inline-block;
}

/* reviews */

.reviews .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.reviews .box-container .box {
  padding: 2rem;
  text-align: center;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.reviews .box-container .box img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.reviews .box-container .box p {
  font-size: 1.6rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

.reviews .box-container .box .stars {
  background: var(--light-bg);
  padding: 1rem;
  display: inline-block;
  border: var(--border);
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.reviews .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--orange);
  margin: 0 0.3rem;
}

.reviews .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  margin-top: 1rem;
}

/* contact */

.contact form {
  padding: 2rem;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  max-width: 50rem;
  margin: 0 auto;
  padding-top: 1rem;
}

.contact form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  margin: 1rem 0;
  background: var(--light-bg);
  border: var(--border);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: var(--black);
}

.contact form textarea {
  height: 15rem;
  resize: none;
}

/* search-form */

.search-form form {
  display: flex;
  gap: 1.5rem;
}

.search-form form .box {
  width: 100%;
  padding: 1.4rem;
  background: var(--white);
  font-size: 2rem;
  color: var(--black);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.search-form form .btn {
  display: inline-block;
  width: auto;
  margin-top: 0;
}

/* wishlist */
.wishlist .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.wishlist .box-container .box {
  padding: 2rem;
  text-align: center;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
}

.wishlist .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: var(--white);
  background: var(--red);
}

.wishlist .box-container .box .fa-times:hover {
  background: var(--black);
}

.wishlist .box-container .box .price {
  padding-top: 1rem;
  color: var(--red);
  font-size: 2.5rem;
}

.wishlist .box-container .box .price span {
  font-size: 2.5rem;
  color: var(--white);
  margin: 0 0.2rem;
}

.wishlist .box-container .box .fa-eye {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  border: var(--border);
  color: var(--black);
}

.wishlist .box-container .box .fa-eye:hover {
  color: var(--white);
  background: var(--black);
}

.wishlist .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.wishlist .box-container .box .name {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
}

.wishlist .box-container .box .qty {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  border-radius: 0.5rem;
}

.wishlist .wishlist-total {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  background: var(--white);
  padding: 2rem;
  text-align: center;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.wishlist .wishlist-total p {
  font-size: 2.5rem;
  color: var(--light-color);
  margin-bottom: 2rem;
}

.wishlist .wishlist-total p span {
  color: var(--red);
}

/* shopping-cart */

.shopping-cart .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.shopping-cart .box-container .box {
  padding: 2rem;
  text-align: center;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  position: relative;
}

.shopping-cart .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: var(--white);
  background: var(--red);
}

.shopping-cart .box-container .box .fa-times:hover {
  background: var(--black);
}

.shopping-cart .box-container .box .price {
  padding-top: 1rem;
  color: var(--red);
  font-size: 2.5rem;
}

.shopping-cart .box-container .box .price span {
  font-size: 2.5rem;
  color: var(--white);
  margin: 0 0.2rem;
}

.shopping-cart .box-container .box .fa-eye {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  border: var(--border);
  color: var(--black);
}

.shopping-cart .box-container .box .fa-eye:hover {
  color: var(--white);
  background: var(--black);
}

.shopping-cart .box-container .box img {
  width: 100%;
  margin-bottom: 1rem;
}

.shopping-cart .box-container .box .name {
  font-size: 2rem;
  color: var(--black);
  padding: 1rem 0;
}

.shopping-cart .box-container .box .qty {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border: var(--border);
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.shopping-cart .box-container .box .sub-total {
  font-size: 2rem;
  color: var(--light-color);
  margin-top: 2rem;
}

.shopping-cart .box-container .box .sub-total span {
  color: var(--red);
}

.shopping-cart .cart-total {
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  background: var(--white);
  padding: 2rem;
  text-align: center;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.shopping-cart .cart-total p {
  font-size: 2.5rem;
  color: var(--light-color);
  margin-bottom: 2rem;
}

.shopping-cart .cart-total p span {
  color: var(--red);
}

/* display-orders */

.display-orders {
  text-align: center;
  padding-bottom: 0;
}

.display-orders p {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 2rem;
  margin: 1rem 0.5rem;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.display-orders p span {
  color: var(--red);
}

.display-orders .grand-total {
  font-size: 2.5rem;
  color: var(--light-color);
  margin-top: 2rem;
}

.display-orders .grand-total span {
  color: var(--red);
}

/* checkout-orders */

.checkout-orders form {
  padding: 2rem;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.checkout-orders form h3 {
  font-size: 2.5rem;
  background: var(--black);
  color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.checkout-orders form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}

.checkout-orders form .flex .inputBox {
  flex: 1 1 40rem;
}

.checkout-orders form .flex .inputBox .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: var(--light-bg);
  border: var(--border);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: var(--black);
  margin: 1rem 0;
}

.checkout-orders form .flex .inputBox span {
  font-size: 1.8rem;
  color: var(--light-color);
}

/* placed-orders */

.placed-orders .box-container {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.placed-orders .box-container .box {
  padding: 2rem;
  background: var(--white);
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  flex: 1 1 40rem;
}

.placed-orders .box-container .box p{
  font-size: 2rem;
  color: var(--light-color);
  margin: .5rem 0;
  line-height: 1.8;
}

.placed-orders .box-container .box p span{
  color: var(--green);

}

/* footer */

.footer {
  background: var(--white);
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2.5rem;
  align-items: flex-start;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer .box-container a,
.footer .box-container p {
  display: block;
  font-size: 1.6rem;
  color: var(--light-color);
  padding: 1.3rem 0;
}

.footer .box-container a:hover {
  text-decoration: underline;
  color: var(--green);
}

.footer .box-container a i,
.footer .box-container p i {
  color: var(--green);
  padding-right: 1rem;
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  color: var(--black);
  padding: 3rem 2rem;
  line-height: 1.5;
  margin-top: 2rem;
  border-top: var(--border);
}

.footer .credit span {
  color: var(--green);
}

/* media query */

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }

  /* header */
  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: var(--border);
    border-bottom: var(--border);
    background: var(--white);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.2s linear;
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }

  /* update-profile */
  .update-profile form .flex {
    gap: 0;
  }

  /* home-bg */
  .home-bg {
    background-position: left;
  }

  .home-bg .home {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .flex-btn {
    flex-flow: column;
    gap: 0;
  }

  .title {
    font-size: 3rem;
  }

  .header .flex .logo {
    font-size: 2.2rem;
  }

  .header .flex .icons > * {
    font-size: 2.1rem;
  }

  /* products */

  .products .box-container {
    grid-template-columns: 1fr;
  }

  /* quick-view */

  .quick-view .box img {
    width: 100%;
    height: auto;
  }

  /* about */
  .about .row .box img {
    height: auto;
    width: 100%;
  }

  /* wishlist */
  .wishlist .box-container {
    grid-template-columns: 1fr;
  }
  /* shopping-cart */
  .shopping-cart .box-container {
    grid-template-columns: 1fr;
  }
}
